<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>子衿在线</title>

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/animate.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/swiper.min.css')}}">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style1.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/icon1.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/demo1.css')}}">
</head>