<div class="bar">
		<div class="logo">
			<img src="http://puldt3hoz.bkt.clouddn.com/logo.png">
		</div>
		<div class="bar_menu">
			<ul>
				<li>
					<a href="#"><i></i>&nbsp;智能</a>
				</li>
				<li>
					<a href="#">便捷</a>
				</li>
				<li>
					<a href="#">美观</a>
				</li>
				<li>
					<a href="#">大数据</a>
				</li>
				<li>
					<a href="#">最新资讯</a>
				</li>
				<li>
					<a href="#">三端一体</a>
				</li>
			</ul>
		</div>


	</div>
	<div class="nav">
		<ul>
			<li>
				<a href="/">首页</a>
			</li>
			<li>
				<a href="#">移动端</a>
			</li>
			<li>
				<a href="#">桌面端</a>

			</li>
			<li>
				<a href="http://111.230.27.166:8080/onlineTest/">web端</a>
			</li>

			<li>
				<a href="/news">最新新闻</a>
			</li>


		</ul>

	</div>